<!-- no need to cancel the comment state to keep the site brief -->
<!-- <p class="footer" style="position: fixed;bottom:0%">Made with <a href="https://hexo.io/">hexo</a> & <a href="https://github.com/gtg2619/">paperblank</a> by <%= config.author %></p> -->